/* Start box */
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
/* End box */

/* Start padding + margin */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
/* End padding + margin */

/* Start border */
.border {
  border: 1px solid white;
}
.rounded-6 {
  border-radius: 6px;
}
/* End border */

/* Start Color */
.text-black {
  color: black;
}
.bg-white {
  background-color: white;
}
/* End Color */

/* Start Position */
.relative {
  position: relative;
}
/* End Position */

/* Start Font */
.text-center {
  text-align: center;
}
.text-14 {
  font-size: 14px;
}
/* End Font */
