:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* ------ */
/* Start box */
@media (max-width: 768px) {
  .block-mobile {
    display: block;
  }
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.grid {
  display: grid;
}
/* End box */

/* Start padding + margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pl-30 {
  padding-left: 30px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.gap-5 {
  gap: 5px;
}
.gap-20 {
  gap: 20px;
}
/* End padding + margin */

/* Start border */
.border {
  border: 1px solid #ccc;
}
.rounded-6 {
  border-radius: 6px;
}
.rounded-10 {
  border-radius: 10px;
}
/* End border */

/* Start Color */
.text-black {
  color: black;
}
.bg-white {
  background-color: white;
}
/* End Color */

/* Start Position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.left-20 {
  left: 20px;
}
/* End Position */

/* Start Font */
.text-center {
  text-align: center;
}
@media (max-width: 768px) {
  .text-center-mobile {
    text-align: center;
  }
}
.text-14 {
  font-size: 14px;
}
/* End Font */
/* Start Screen */
.w-full {
  width: 100%;
}
@media (min-width: 768px) {
  .md\:text-center {
    text-align: center;
  }
  .md\:block {
    display: block;
  }
}
/* End Screen */
